
.card{
    width: 20rem;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    display: inline-block;
    flex-direction: column;
    border: solid black 1px;
    margin-bottom: 0.5em;
    top: 0;
    position: relative;
    margin-right: 1rem;
    background: linear-gradient(to bottom right, rgb(14, 14, 121), blue);
  }
 .card-img {
  width: 15rem;
   height: 15rem;
   background-color: rgb(218, 218, 218);
 }
  .add{
    width: 2.5rem;
    height: 2.5rem;
    float: right;
    color: #ffd700;
  }
  .buttonShip{
    font-size: 11.5px;
    color: #ffd700;
  }
  .gText{
    color: #ffd700;
    font-size: 18px;
}
.gMain{
  font-size: 2rem;
  text-align: center;
}
.link{
  color: inherit;
  text-decoration: inherit;
}