.imgShip {
    max-width: 70%;
    max-height: 20rem;
}
.pShip {
    font-size: 1.5em;
	color: #ffd700;
}
.sTable {
	border-collapse: collapse;
	border: 2px solid black;
}
.sTd{
	border: 2px solid blue;
	text-align: center;
	color: #ffd700;
	font-size: 1.4em;
	padding: 2px 2px 2px 2px;
}
.h2Ship{
	height: 3rem; 
	color: #ffd700;
}